{% extends 'base.html' %} 

{% load static %}

{% block main%}

<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url( {% static 'images/background/3.jpg' %});">
    <div class="container">
        <div class="title-text">
            <h1>Listado de Pagos</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index.html">Inicio &nbsp;/</a>
                </li>
                <li>Listado de Pagos</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
{% endblock %}


{% block content %} 
    <div class="container mt-3 pb-3">
    <div class="col-md-12">
    <br>
    <br>
    <h2>Detalle de pagos</h2>
    
    
    <hr>
    
    <br>
    <form class="form-inline mb-5" method="GET">
        <div class="form-group mx-3">
            

            <label class="mr-2">Run medico :</label>
            <input type="text" class="form-control mr-2" name="run-medico">
                        
        </div>

        <div class="form-group mx-3">
            <label class="mr-2">Fecha cita :</label>
           <input type="text" class="form-control mr-2" name="fecha-cita"> 
            <button class="btn btn-secondary" type="submit" name="btn-buscar">Buscar</button>          
        </div>     
           

    </form>
<br><br>
    

    <div id="tabla_pagos" >
    <h2>Lista de pagos</h2>
    <div><br> </div>
    <table class="table table-hover" >

        <thead>
            <tr>
                
                <th>Run Médico</th>
                <th>Nombre Médico</th>
                <th>Fecha Consulta</th>
                <th>Especialidad</th>
                <th>Valor consulta</th>
                <th>Comisión(40%)</th>
                <th>Detalle pago</th>
                
            </tr>
        </thead>
        <tbody>
            {% for citamedica in object_list %}
            <tr>

                <td>{{ citamedica.medico.run_medico}}</td>
                <td>{{ citamedica.medico.nombre_medico}}</td>
                <td>{{ citamedica.fecha_cita}}</td>
                <td>{{ citamedica.especialidad}}</td>
                <td class="precio">{{ citamedica.especialidad.valor}}</td>
                <td id="preciocom"></td>
                <td id="sueldo"></td>
                
                
                
            </tr>
            {% endfor %}
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ><b>Total<b></td>
                <td id="totalvalor"></td>
                <td id="totalcom"></td>
                <td id="totalpago"></td>
            </tr>
        </tbody>
</table>

</div>

<button id="btnCrearPdf">Generar PDF</button>
<div><br> </div>

</div>
</div>
 {% endblock %}

{% block javascript %}

{% comment %} calculo total pago consultas

Primero se crean variables para referenciar
var valoresp; (valor especialidad)
var totalvalor=0; (valor total iniciado en 0)

Luego se le indica con td:nth-child(4) que tariga todo el largo de la columna (lenght)
que el busque cada registro de el 4rto item de la tabla (valor) con  $('td:nth-child(4) mediante un indice

totalvalor+=parseInt(valoresp) ---> Lo transforma a int y suma uno por uno 
$('#totalvalor').text(totalvalor); ---> con ('#totalvalor').text --> hace referencia al id=totalvalor de la <td>
text(totalvalor)---> le indica que totalvalor se muestre ahí
if (index < largoColumna-1) -->calcula hasta el penultimo valor para que no se sume el total
{% endcomment %}
    <script>
    $(document).ready(function()
    {
        var valoresp;
        var totalvalor=0;
        var largoColumna = $('td:nth-child(5)').length;
        $('td:nth-child(5)').each(function(index)
        {
            valoresp=$(this).html();
            if (index < largoColumna-1){
                totalvalor+=parseInt(valoresp);
            }
            $('#totalvalor').text(totalvalor);
        });
    });
{% comment %} Comision total {% endcomment %}
    $(document).ready(function()
    {
        var valorcom;
        var totacom=0;
        $('td:nth-child(5)').each(function()
        {
            valorcom=$(this).html();
            totalcom=parseInt(valorcom*0.4);
            $('#totalcom').text(totalcom);
        });
    });

{% comment %} detalle consultas {% endcomment %}
    $(document).ready(function()
    {
	    $('tr').each(function()
	{
	var sumcom =0;
	$(this).find('.precio').each(function()
	{
	    var porc=$(this).text();
	    if(porc.length!==0)
	{
	    sumcom=parseInt(porc*0.4);
	}
   });
	    $(this).find('#preciocom').html(sumcom);
  });
}); 

{% comment %} Comision total {% endcomment %}
    $(document).ready(function()
    {
        var valorpago;
        var totalpago=0;
        $('td:nth-child(5)').each(function()
        {
            valorpago=$(this).html();
            totalpago=parseInt(valorpago*0.6);
            $('#totalpago').text(totalpago);
        });
    });

{% comment %} detalle liquidacion {% endcomment %}
    $(document).ready(function()
    {
	    $('tr').each(function()
	{
	var sumsueldo =0;
	$(this).find('.precio').each(function()
	{
	    var porcpago=$(this).text();
	    if(porcpago.length!==0)
	{
	    sumsueldo=parseInt(porcpago*0.6);
	}
   });
	    $(this).find('#sueldo').html(sumsueldo);
  });
}); 

</script>

{% endblock %}


