{% extends 'base.html' %} 
{% load static %}

{% block main%}

<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url( {% static 'images/background/3.jpg' %});">
    <div class="container">
        <div class="title-text">
            <h1>Listado de Pagos</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index.html">Inicio &nbsp;/</a>
                </li>
                <li>Listado de Pagos</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
{% endblock %}

{% block content %}
<div class="container mt-3 pb-3">
    <div class="col-md-12">
    <br>
    <br>
   <!-- {% comment %} {% if object_list %} {% endcomment %} -->
    <hr>
    <table class="table table-hover">

        <thead>
            <tr>
                
                <th>Run Médico</th>
                <th>Nombre Médico</th>
                <th>Especialidad</th>
                <th>Valor consulta</th>
                <th>Comisión(40%)</th>
                <th>Total liquidación</th>
                
            </tr>
        </thead>
        <tbody>
            {% for citamedica in object_list %}
            <tr>

                <td>{{ citamedica.medico.run_medico}}</td>
                <td>{{ citamedica.medico.nombre_medico}}</td>
                <td>{{ citamedica.especialidad}}</td>
                <td class="precio">{{ citamedica.especialidad.valor}}</td>
                <td id="preciocom"></td>
                <td id="sueldo"></td>
                
                <!-- {% comment %} {% if user.is_superuser %}
                <td><a class="btn btn-primary" href="{% url 'editar_bicicleta' bicicleta.id %}">Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'eliminar_bicicleta' bicicleta.id %}">Eliminar</a></td>
                {% endif %}   {% endcomment %} -->
                
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><b>Total<b></td>
                <td id="totalvalor"></td>
                <td id='totalcom'></td>
            </tr>
        </tbody>
</table>

<!-- {% comment %} {% else %}
    <h1>No hay registros de bicicletas</h1>
{% endif %}  {% endcomment %} -->
</div>
</div>
{% endblock %}

{% block javascript %}

{% comment %} calculo total pago consultas{% endcomment %}
<script>
    $(document).ready(function()
    {
        var valoresp;
        var totalvalor=0;
        $('td:nth-child(4)').each(function()
        {
            valoresp=$(this).html();
            totalvalor+=parseInt(valoresp);
            $('#totalvalor').text(totalvalor);
        });
    });
{% comment %} Comision total {% endcomment %}
    $(document).ready(function()
    {
        var valorcom;
        var totacom=0;
        $('td:nth-child(4)').each(function()
        {
            valorcom=$(this).html();
            totalcom=parseInt(valorcom*0.4);
            $('#totalcom').text(totalcom);
        });
    });

{% comment %} Comision x consulta {% endcomment %}
    $(document).ready(function()
    {
	    $('tr').each(function()
	{
	var sumcom =0;
	$(this).find('.precio').each(function()
	{
	    var porc=$(this).text();
	    if(porc.length!==0)
	{
	    sumcom=parseInt(porc*0.4);
	}
   });
	    $(this).find('#preciocom').html(sumcom);
  });
}); 

{% comment %} total pago {% endcomment %}
    $(document).ready(function()
    {
	    $('tr').each(function()
	{
	var sumsueldo =0;
	$(this).find('.precio').each(function()
	{
	    var porcpago=$(this).text();
	    if(porcpago.length!==0)
	{
	    sumsueldo=parseInt(porcpago*0.6);
	}
   });
	    $(this).find('#sueldo').html(sumsueldo);
  });
}); 
</script>

{% endblock %}


