{% extends 'base.html' %} 
{% load static %} 
<!--Main Header-->
{% block main%}

<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url( {% static 'images/background/3.jpg' %});">
    <div class="container">
        <div class="title-text">
            <h1>Agenda tu hora</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index.html">Inicio &nbsp;/</a>
                </li>
                <li>Agenda tu hora</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
{% endblock %}

{% block javascript %}
  <script>    

	function soloTeclasRut(tecla) {
		return tecla.keyCode == 48 ||
		tecla.keyCode == 49 ||
		tecla.keyCode == 50 ||
		tecla.keyCode == 51 ||
		tecla.keyCode == 52 ||
		tecla.keyCode == 53 ||
		tecla.keyCode == 54 ||
		tecla.keyCode == 55 ||
		tecla.keyCode == 56 ||
		tecla.keyCode == 57 ||
        tecla.keyCode == 107 ||
		tecla.keyCode == 75;   
	}

    function noFestivos(date) {
        return jQuery.datepicker.noWeekends(date);
    }

    function removerDisabled() {
        $('#id_medico').removeAttr("disabled");
    }

    $(function() {
        $("#id_run").rut().on('rutValido', function(e, rut, dv) {
        }, { minimumLength: 7,  maximumLength: 9} );
    })

    $( function() {
        $('#id_hora_cita').timepicker({
            'timeFormat': 'H:i',
            'step': '45',
            'minTime': '8:00',
            'maxTime': '18:00',
            'disableTextInput': true
        } );
    } );
    
    $( function() {
        $( "#id_fecha_cita" ).datepicker(
            {
                'dateFormat': 'yy-mm-dd',
                'minDate': 0,
                'beforeShowDay': noFestivos
            }
        );
    } );

    $("#id_especialidad").change(function () {
      var id_especialidad = $(this).val();

      $.ajax({
        url: '/especialidad/get_especialidades',
        data: {
          'id_especialidad': id_especialidad
        },
        dataType: 'json',
        success: function (data) {
            // obtengo el elemento select (lista desplegable de medicos)
            var select = document.getElementById('id_medico');
            // le quito la cualidad de deshabilitado
            select.removeAttribute("disabled");
            // borro todos sus elementos para agregar los médicos de la especialidad consultada
            select.length = 0;
            // convierto la respuesta de medicos a json
            var dataMedicos = jQuery.parseJSON(data)
            // recorro cada uno de los médicos obtenidos para agregarlos como opción en el select
            dataMedicos.forEach(function(value) {
              // creo una opción de select
              var opt = document.createElement('option');
              // agrego el nombre de la opción, en este caso el nombre del médico
              opt.innerHTML = value.fields.nombre_medico;
              // agrego como valor de opción la pk del médico (importante para luego hacer el insert)
              opt.value = value.pk;
              // agrego la opción creada al select de médicos
              select.appendChild(opt);
            });
        }
      });
    });

    $("#id_fecha_cita").change(function () {
      var in_fecha_cita = $(this).val();
      var rut_medico = $("#id_medico").val();

      $.ajax({
        url: '/especialidad/get_horas_no_disponibles',
        data: {
          'fecha_cita': in_fecha_cita,
          'rut_medico': rut_medico
        },
        dataType: 'json',
        success: function (data) {
            var horasNoDisponibles = jQuery.parseJSON(data);
            $('#id_hora_cita').timepicker('option', 'disableTimeRanges', horasNoDisponibles);
        }
      });
    });

  </script>
{% endblock %}

{% block content %}
<!-- Contact Section -->
<section class="blog-section section style-three pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-area style-two">
                    <div class="section-title">
                        <h3>Agenda tu hora médica</h3>
                    </div>
                    <form name="contact_form" class="default-form contact-form" action="" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                <form method="POST" name="hora_form" id="hora_form">
                                    {% csrf_token %} 
                                    {{ form.as_p }}
                                    <br>
                                    <button type="submit" onclick="removerDisabled();" class="btn-style-one">Reservar hora</button>
                                </form>
                                </div>                       
                            </div>
                        </div>
                    </form>
                </div>                      
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="appointment-image-holder">
                    <figure>
                        <img src="{% static 'images/background/appoinment.jpg' %}" alt="Appointment">
                    </figure>
                </div>                       
            </div>
        </div>                    
    </div>
</section>
<!-- End Contact Section -->
{% endblock %}